#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  background-color:#8d8d8d;
  width: 660px;
  height: 316px;
  border-radius: 5px;
  outline: 3px solid white;
}

